@font-face {
  font-family: "iconfont"; /* Project id 4065195 */
  src: url('iconfont.woff2?t=1683895307749') format('woff2'),
       url('iconfont.woff?t=1683895307749') format('woff'),
       url('iconfont.ttf?t=1683895307749') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e646";
}

