body,
html,
#app,
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.toolbar {
  height: 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.footer {
  height: 24px;
  background-color: #f0f0f0;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
  line-height: 24px;
  font-size: 14px;
  color: #888;
  display: flex;
  align-items: center;
  padding: 5px 12px;
}

.jump-date-popover {
  width: unset !important;
  padding: 0 !important;
}
