.xg-table-cell {
  height: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid;

  & > div {
    width: calc(100% - 12px);
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    text-overflow: ellipsis;
    padding: 0 6px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    .expand-icon {
      margin-right: 4px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }

    .expand-icon__expanded {
      transform: rotate(90deg);
    }

    .level-block {
      display: inline-block;
    }

    .cell {
      flex: 1;
    }

    .cell-center {
      text-align: center;
    }

    .cell-ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
