html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#btn-group {
    display: flex;
    gap: 8px;
}

#gantt-container {
    flex: 1;
    overflow: hidden;
}

#footer-bar {
    background-color: rgb(226, 226, 226);
    height: 24px;
    padding: 2px 12px;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 12px;
    color: #333;
    border-top: 1px solid #b1b1b1;
}

button {
    padding: 4px 12px 6px;
    border: none;
    border-radius: 4px;
    background-color: #007acc;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #009ee7;
}
button:active {
    background-color: #005c99;
}
