/**
 * App5 样式入口文件
 */
@import './theme.css';
@import './layout.css';

/* 全局样式重置 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
