@use "./base/variables";
@use "./components/table";
@use "./components/chart";
@use "./components/splitter";
@use "./components/scrollbar";
@use "./components/checkbox";
@use "./components/drag";

.x-gantt {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;

  &.border {
    border: 1px solid var(--x-gantt-border-color);
  }
}

.x-gantt-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
